body{
    background: url(tikchatback.jpg);
}
.outuserin{
    padding: 180px 20px 30px 20px;
}
.userin{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    width: 420px;
    color: black;
    border-radius: 14px;
    padding: 30px 20px 30px 20px;
}
td {
    text-align: center;
  }

  